[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Izenfrost
[access "refs/for/refs/*"]
	read = group user/Izenfrost
	push = group user/Izenfrost
	label-Code-Review = -2..+2 group user/Izenfrost
	label-Verified = -1..+1 group user/Izenfrost
	rebase = group user/Izenfrost
	removeReviewer = group user/Izenfrost
	submit = group user/Izenfrost
[access "refs/heads/*"]
	read = group user/Izenfrost
	create = group user/Izenfrost
	push = +force group user/Izenfrost
	pushMerge = group user/Izenfrost
[access "refs/tags/*"]
	push = +force group user/Izenfrost
	pushTag = group user/Izenfrost
	pushSignedTag = group user/Izenfrost
