[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Konstantin (Izenfrost)
[access "refs/for/refs/*"]
	read = group user/Konstantin (Izenfrost)
	push = group user/Konstantin (Izenfrost)
	label-Code-Review = -2..+2 group user/Konstantin (Izenfrost)
	label-Verified = -1..+1 group user/Konstantin (Izenfrost)
	rebase = group user/Konstantin (Izenfrost)
	removeReviewer = group user/Konstantin (Izenfrost)
	submit = group user/Konstantin (Izenfrost)
[access "refs/heads/*"]
	read = group user/Konstantin (Izenfrost)
	create = group user/Konstantin (Izenfrost)
	push = +force group user/Konstantin (Izenfrost)
	pushMerge = group user/Konstantin (Izenfrost)
[access "refs/tags/*"]
	push = +force group user/Konstantin (Izenfrost)
	pushTag = group user/Konstantin (Izenfrost)
	pushSignedTag = group user/Konstantin (Izenfrost)
[project]
	description = Game \"Tanks\" on Java Swing
